<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>

  <form action='\bookmarks' method='delete'>
  <input type='submit' value='Delete'>
  </form>
</ul>