<form action='/bookmarks' method='post'> 
<input type='text' placeholder='Add a new bookmark' name='url'>
<input type='text' placeholder='Add the bookmark title' name='title'>
<input type='submit' value='Submit'>
</form>
